.logo {
  background-color: black;
  width: 100%;
}

.cover-image {
  width:100%;
}

.bottom-text {
  /*p tags need fixed height to avoid weird artifact*/
  height:60px;
}

.navigation-wrapper {
  width:162px;
  float:right;
  margin-right:15px;
}

.active {
  
}
